PROJECT_NAME=evalutia-portal
ENV=dev

WEBAPP_PORT=5173
WEBAPI_PORT=8080
ADMINER_PORT=8081

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=evalutia
MYSQL_USER=evalutia
MYSQL_PASSWORD=evalutia
MYSQL_ROOT_PASSWORD=evalutia_root

JWT_ISSUER=evalutia
JWT_AUDIENCE=evalutia.clients
JWT_SECRET=8p7KfC0nQO9T2bKxZ1aR4vM6yH8J2qLp

REDIS_HOST=redis
REDIS_PORT=6379

ASPNETCORE_ENVIRONMENT=Development
CORS_ORIGINS=http://localhost:5173

VITE_API_BASE_URL=http://localhost:8081

TZ=America/Montevideo
